body {
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}

.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 229, 35, 0.566);
    opacity: 0;
    animation: float 8s forwards;
    filter: hue-rotate(0deg);
}

@keyframes float {
    to {
        top: -300px;
        /* utilisation de var pour dynamiser en js la position des bubbles par rapport à la gauche */
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
   } 
}