body {
    overflow: hidden;
    min-height: 100vh;
}

.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 229, 35, 0.566);
    opacity: 0;
    animation: float 5s forwards;
    filter: hue-rotate(0deg);
}

@keyframes float {
    to {
        top: -300px;
        opacity: 1;
        filter: hue-rotate(720deg);
   } 
}